@import url('https://fonts.googleapis.com/css?family=Poppins');
*
:focus{
    outline:none;
     font-family: 'Poppins', sans-serif;
 }
 
 body{
     background: linear-gradient( #23242a, #214042, #804458) ;
 }

 a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black
}

 header{
    display: flex;
    min-height: 55px;
    background-color:  #45f3ff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
 }
 .logo{
    display: flex;
    align-items: center;
 }
 .logo img{
    height: 50px;
    width: 50px;
    margin-left: 0px;
 }

 nav a{
    font-weight: 600;
    padding-right: 10px;

 }
 nav a:hover{
    color: whitesmoke;
 }

 @media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
 }








 .box{
  
    box-sizing: border-box;
    width: 360px;
    height: 600px;
    border: 2px solid#45f3ff;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px rgba(94,104,121,0,288);
    border-radius: 5 px;
    background-color: #1c1c1c;
    margin-top: 50px;
    overflow:hidden;
}

img{
    box-sizing: border-box;
    top: -50px;
    left: 50%;
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin: 0;
    
}

input[type="text"]{
    font-family: 'Poppins', sans-serif;
    display: block;
    box-sizing: border-box;
    background: none;
    color:#45f3ff;
    margin-bottom: 30px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #45f3ff;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}


h3{
    font-family: 'Poppins', sans-serif;
font-size: 1.25em;
font-weight: 600;
color: #45f3ff;
line-height: 1.2em;
}
button{
    font-family: 'Poppins', sans-serif;
    border: 1px solid#45f3ff;
    background-color: #1c1c1c;
    color: #45f3ff;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 50px;;
    transition: all 0.3s;
}
button:hover{
    transform: scale(1.1);
    
}

input[type="file"]{
    display:none;

}

label{
    font-family: 'Poppins', sans-serif;
    box-sizing: center;
    font-size: 15px;
    background-color:  #1c1c1c;
    color:#45f3ff;
    border: 1px solide #45f3ff;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.3;
}
label:hover{
    background-color:#45f3ff;
    color: black;
}
p{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    background-color:  #1c1c1c;
    color:#45f3ff;
    border: 1px solide #45f3ff;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.3;
}


.Nombrepagina{
    font-family: 'Poppins', sans-serif;
    color:black;
 
}


.Footer{
    width: 100% !important; 
    height: 420px !important;
 }

 header .buscar{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background: none;
   border-radius: 5%;
  
 }


 header .buscar input{
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    border-bottom: 5px solid #ffffff;
    border-bottom-right-radius: 20px;
     font-size: 18px;
     color: #000000;
     border-radius: 30px;
 
 }